CompileFlags:
  Add:
    - "--include-directory=/usr/include/qt/"
    - "--include-directory=/usr/include/qt/QtWidgets/"
    - "--include-directory=/usr/include/qt/QtGui/"
    - "--include-directory=/usr/include/qt/QtCore/"
    - "--include-directory=/usr/lib/qt/mkspecs/linux-g++/"
    - "-DQT_CORE_LIB"
    - "-DQT_GUI_LIB" 
    - "-DQT_NO_DEBUG"
    - "-DQT_WIDGETS_LIB"